<html>

<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
</head>

<body>
	<header>
		<div class="nav-container">

			<!-- INSERT LOGO/IMAGE HERE -->
			<h2>FindARoommate</h2>
			<nav>
				<ul>
					<li><a href="/index">Home</a></li>
					<li><a href="/user">My Profile</a></li>
					<li><a href="/settings">Settings</a></li>
					<!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
				</ul>
			</nav>

		</div>
	</header>


	{{!-- Top Title --}}
	{{!-- <div id="topTitle" class="top">
		<a href="/index"> <b>Find a Roommate</b> </a>
		<hr style="height:1px;border:none;color:#333;background-color:#333;">
	</div> --}}
	{{!-- <hr style="height:1px;border:none;color:#333;background-color:#333;"> --}}
	{{!-- end of top title --}}
	<div class="container">
		{{!-- Search Bar --}}
		<div class="searchbar" id="search">
			<div class="search">
				<form action="/results">
					<div>
						<input type="text" class="searchTerm" name="search"
							placeholder="Search Area...">
						<a href="/results">
							<button type="submit" class="searchButton">
								<i class="fa fa-search"></i>
								{{!-- Search --}}
							</button>
						</a>
					</div>
					<div style="" class="row startingDateRow">
						<div>
							<label for="date">Starting Date:</label>
							<input style="" type="date" class="startDate" id="date"
								name="date">
							<button class="accordion" type="button">
								Preferences</button>

							<div class="panel">
								<p>Pick more options</p>
								<label class="checkboxContainer">Living room
									<input type="checkbox" name="livingRoom">
									<span class="checkmark"></span>
								</label>

								<label class="checkboxContainer">Single
									<input type="checkbox" name="singleRoom">
									{{!-- checked="checked" --}}
									<span class="checkmark"></span>
								</label>

								<label class="checkboxContainer">Double
									<input type="checkbox" name="doubleRoom">
									<span class="checkmark"></span>
								</label>

								{{!-- <label class="checkboxContainer">Triple
									<input type="checkbox" name="tripleRoom">
									<span class="checkmark"></span>
								</label> --}}
								<div class="col-md-12 mb-3">
									<label for="minRent">
										Min Rent</label>
									<input type="rent" class="form-control" id="minRent"
										name="minRent" placeholder="Min">
									<label for="maxRent">
										Max Rent</label>
									<input type="rent" class="form-control" id="maxRent"
										name="maxRent" placeholder="Max">
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		{{!-- End of Search Bar --}}
		<br />
		{{!-- Start of apartments --}}
		{{#each apartments}}
		<div class="container-prof">
			<h4>{{name}}, {{rent}} per Month</h4>
			<a href="/profile/{{id}}">
				<div class="row" style="margin-top:20px">
					<div class="col-3">
						<img style="width:100%" src="{{imgurl}}">
					</div>
					<div class="col-9">
						<img style="width:100%" src="{{aptimgurl}}">
					</div>
				</div>
			</a>
		</div>
		{{/each}}
	</div>
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function () {
			/* Toggle between adding and removing the "active" class,
			to highlight the button that controls the panel */
			this.classList.toggle("active");
			/* Toggle between hiding and showing the active panel */
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
			} else {
				panel.style.display = "block";
			}
		});
	}
</script>

</html>