<html>

<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="../js/back.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="google-signin-scope" content="profile email">
	{{!-- <meta name="google-signin-client_id"
			content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com"> --}}
	<meta name="google-signin-client_id"
		content="519007915746-9ujr3t866k76vt0kr2sk5uoi3q0v8d8a.apps.googleusercontent.com">

	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
	{{!-- <div class="row">
            <button class="btn btn-link btn-lg" style="width:50%;" onclick="goBack()">Back</button>
            <button class="btn btn-link btn-lg" style="width:50%;" onclick="signOutTest()">Sign
                Out</button>
	</div> --}}
	<header>
		<div class="nav-container">
			<nav>
				<ul>
					{{!-- <li><button class="btn btn-link btn-lg" style="width:50%;" onclick="goBack()"><img class="icon" src="images/icons/back.png"></img></button></li> --}}
					<li><a onclick="goBack()"><img class="icon" src="images/icons/back.png"></img></a></li>
					<li><a href="/user"><img class="icon" src="images/icons/user.png"></a></li>
					<li><a href="/index"><img class="icon" src="images/icons/home.png"></a></li>
					<li><a href="/settings"><img class="icon" src="images/icons/settings.png"></a></li>
					<li><a onclick="signOutTest()"><img class="icon" src="images/icons/signout.png"></img></button></li>
				</ul>
			</nav>
		</div>
	</header>


	{{!-- Top Title --}}
	{{!-- <div id="topTitle" class="top">
		<a href="/index"> <b>Find a Roommate</b> </a>
		<hr style="height:1px;border:none;color:#333;background-color:#333;">
	</div> --}}
	{{!-- <hr style="height:1px;border:none;color:#333;background-color:#333;"> --}}
	{{!-- end of top title --}}
	<div class="container" style="top-margin: 10px">
		{{!-- Search Bar --}}
		<div style="background-color:rgb(228, 228, 228);padding:10px;border-radius:0px 0px 10px 10px;">
			<div class="searchbar" id="search">
				<input type="text" class="searchTerm" name="search" placeholder="Search Area..."
					style="margin-top:20px;">
				<a href="/results">
					<button type="submit" class="searchButton" style="margin-top:20px;">
						<i class="fa fa-search"></i>
						{{!-- Search --}}
					</button>
				</a>
				<div style="align-content: center;">
					<p style="margin-bottom:0px;margin:15px;">Starting Date:</p>
					<input style="margin-left:15px;display:inline;" type="date" class="startDate" name="date">
					<button class="accordion" style="margin-bottom:10px;">
						Preferences</button>

					<div class="panel">
						<p>Pick more options</p>
						<label class="checkboxContainer">Living room
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

						<label class="checkboxContainer">Single
							<input type="checkbox" checked="checked">
							<span class="checkmark"></span>
						</label>

						<label class="checkboxContainer">Double
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

						<label class="checkboxContainer">Triple
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- End of Search Bar --}}
	<br />
	{{!-- Start of apartments --}}
	{{#each apartments}}
	<div class="container-prof">
		<a href="/profile/{{id}}">
			<div class="row" style="">
				<div class="col-3" style="color:black;">
					<img id="apt-img" src="{{imgurl}}">
					<h4>${{rent}}/month</h4>
					<h3>{{roomsize}}</h3>
					<h3>{{gender}} apartment</h3>
					<h3 style="font-size:12px;">{{zip}}</h3>
					{{!-- <div style="height:50px;width:80px;background-color:blue;">
							Save button?
						</div> --}}
					{{!-- <p style="font-size:12px;">{{otherapartmentNotes}}</p> --}}

				</div>
				<div class="col-9">
					<img style="width:100%;border-radius:10px;max-height:200px;margin-bottom:5px;margin-top:5px;"
						src="{{aptimgurl}}">
				</div>
			</div>
		</a>
	</div>
	{{/each}}
	</div>
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="../js/google.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].addEventListener("click", function () {
			/* Toggle between adding and removing the "active" class,
			to highlight the button that controls the panel */
			this.classList.toggle("active");
			/* Toggle between hiding and showing the active panel */
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
			} else {
				panel.style.display = "block";
			}
		});
	}
</script>

</html>