<html>

<head>
	<title>Results</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
</head>

<body>
	<header>
		<div class="nav-container">

			<!-- INSERT LOGO/IMAGE HERE -->
			<h2>FindARoommate</h2>
			<nav>
				<ul>
					<li><a href="/index">Home</a></li>
					<li><a href="/user">My Profile</a></li>
					<li><a href="/settings">Settings</a></li>
					<!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
				</ul>
			</nav>
		</div>
	</header>


	{{!-- Top Title
	<div id="topTitle" class="top">
		<a href="/"> <b>Find a Roommate</b> </a>
		<hr style="height:1px;border:none;color:#333;background-color:#333;">
	</div> --}}
	{{!-- <hr style="height:1px;border:none;color:#333;background-color:#333;"> --}}
	{{!-- end of top title --}}
	<div class="container">
		{{!-- Search Bar --}}
		<div class="searchbar" id="search">
			<div class="">
				<div class="search">
					<div>
						<input type="text" class="searchTerm" name="search"
							placeholder="Search Area...">
						<a href="/results">
							<button type="submit" class="searchButton">
								<i class="fa fa-search"></i>
								{{!-- Search --}}
							</button>
						</a>
					</div>
					<div style="" class="row startingDateRow">
						<div>
							Starting Date:
							<input style="" type="date" class="startDate" name="date">
							<button class="accordion"></button>
								Preferences</button>

							<div class="panel">
								<p>Pick more options</p>
								<label class="checkboxContainer">Living room
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>

								<label class="checkboxContainer">Single
									<input type="checkbox" checked="checked">
									<span class="checkmark"></span>
								</label>

								<label class="checkboxContainer">Double
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>

								<label class="checkboxContainer">Triple
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{!-- End of Search Bar --}}

		{{!-- Start of "Showing Results" and "back" --}}

		<!-- I DIDN'T THINK WE NEEDED A BACK BUTTON NOW THAT WE HAVE THE NAVBAR -->
		{{!-- <div>
			Showing Results:
			<a href="/">
				<button class="backButton">
					Back
				</button>
			</a>
		</div> --}}
		{{!-- End of "Showing Results" and "back" --}}
		{{!-- start of apartment that can load --}}
		{{#each apartments}}
		<div class="container-prof">
			<h4>{{name}}, {{rent}} per Month</h4>
			<a href="/profile/{{id}}">
				<div class="row" style="margin-top:20px">
					<div class="col-3">
						<img style="width:100%" src="{{imgurl}}">
					</div>
					<div class="col-9">
						<img style="width:100%" src="{{aptimgurl}}">
					</div>
				</div>
			</a>
		</div>
		{{/each}}
	</div>
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/accordian.js"></script>

</html>