<html>

<head>
	<title>Saved</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta name="google-signin-scope" content="profile email">
	{{!-- <meta name="google-signin-client_id"
			content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com"> --}}
	<meta name="google-signin-client_id"
		content="519007915746-9ujr3t866k76vt0kr2sk5uoi3q0v8d8a.apps.googleusercontent.com">

	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
	<script src="../js/back.js"></script>


</head>

<body>
	<header>
		
		<div class="nav-container">
			{{!-- <h2>FindARoommate</h2> --}}
			<nav>
				<ul>
					{{!-- <li><button class="btn btn-link btn-lg" style="width:50%;" onclick="goBack()"><img class="icon" src="images/icons/back.png"></img></button></li> --}}
					<li><a onclick="goBack()"><img class="icon" src="images/icons/back.png"></img></a></li>
					<li><a href="/user"><img class="icon" src="images/icons/user.png"></a></li>
					<li><a href="/index"><img class="icon" src="images/icons/home.png"></a></li>
					<li><a href="/settings"><img class="icon" src="images/icons/settings.png"></a></li>
					<li><a onclick="signOutTest()"><img class="icon" src="images/icons/signout.png"></img></button></li>
					<!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
				</ul>
			</nav>

		</div>
	</header>
	<div style="text-align:center">
		<h3 style="margin-top:10px;"> Favorited Apartments</h3>
	</div>
	{{!-- start of apartment that can load --}}
	<div style="margin-top: 1em" class="container">
		{{#each apartments}}
		<div class="container-prof">
			<a href="/profile/{{id}}">
				<div class="row">
					<div class="col-3" style="color:black;">
						&#9733;
						<img id="apt-img" src="{{imgurl}}">
						<h4>{{name}}, ${{rent}}/month</h4>
						<h3>{{roomsize}}</h3>
						<h3 style="font-size:12px;">{{zip}}</h3>
						{{!-- <div style="height:50px;width:80px;background-color:blue;">
							Save button?
						</div> --}}
						{{!-- <p style="font-size:12px;">{{otherapartmentNotes}}</p> --}}

					</div>
					<div class="col-9">
						<img style="width:100%;border-radius:10px;max-height:200px;margin-bottom:5px;margin-top:5px;"
							src="{{aptimgurl}}">
					</div>
				</div>
			</a>
		</div>
		{{/each}}
	</div>
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/accordian.js"></script>
<script src="../js/save.js"></script>
<script src="../js/google.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>

		function signOutTest() {
			var auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut().then(function () {
				console.log('User signed out.');
			});
			window.location.href = "/";
		}
		onLoad()
		function onLoad() {
			gapi.load('auth2', function () {
				gapi.auth2.init();
			});
		}
</script>


</html>