<html>

<head>
	<title>User</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
</head>

<body>
	<header>
		<div class="nav-container">

			<!-- INSERT LOGO/IMAGE HERE -->
			<h2>FindARoommate</h2>
			<nav>
				<ul>
					<li><a href="/index">Home</a></li>
					<li><a href="/user">My Profile</a></li>
					<li><a href="/settings">Settings</a></li>
					<!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
				</ul>
			</nav>
		</div>
	</header>


	<div class="user_body">
		<a href="/index" style="">Go Search</a>
		{{#each user}}
		<div class="img-header">

		</div>



		<ul>
			<div class="user-details">
				<img class="picPerson" src={{imgurl}}>
				<h4 id="name_header">{{name}}</h4>
				<h5 id="state_header">{{userstate}}</h5>
				<p id="desc-header">Description</p>
				<p id="email-header">{{email}}</p>
			</div>
			<div class="preference_deets" id="prefs">
				<p id="prefs-head">Preferences</p>
				
				<div class="pref-grid-row-1">
					<p id="tag">Rent: {{rent}}</p>
					<p id="tag">Has own bathroom: {{ownBath}}</p>
				</div>
				<div class="pref-grid-row-2">
					<p id="tag">Has Air Conditioning: {{AC}}</p>
					<p id="tag">Has Heating: {{heating}}</p>					
				</div>
				<div class="pref-grid-row-1">
					<p id="tag">Laundry Utilities: {{laundry}}</p>
					<p id="tag">Parking: {{parking}}</p>
				</div>
				<div class="pref-grid-row-2">
					<p id="tag">Pets Allowed? {{pets}}</p>
					<p id="tag">Bus Accessibility: {{bus}}</p>
				</div>
				<div class="pref-grid-row-1">
					<p id="tag">Gym: {{gym}}</p>
					<p id="tag">Pool: {{pool}}</p>
				</div>

				<p id="prefs-head">Notes: {{otherapartmentNotes}}</p>
			</div>
			<div class="preference-deets">
				<p id="prefs-head">Roommate Preferences</p>
				<div class="pref-grid-row-1">
					<p id="tag">Preferred time of day: {{timeofday}}</p>
					<p id="tag">Smoker tolerance: {{smokersetting}}</p>
				</div>
				<div class="pref-grid-row-2">
					<p id="tag">Cleanliness: {{cleanliness}}</p>
					<p id="tag">Notes: {{otherroommateNotes}}</p>					
				</div>

			</div>
			
		</ul>
		{{/each}}

	</div>


</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/accordian.js"></script>
{{!-- <script>
	showSlides(1);
</script> --}}


</html>