<html>

<head>
	<title>User</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
</head>

<body>
	<header>
		<div class="nav-container">

			<!-- INSERT LOGO/IMAGE HERE -->
			<h2>FindARoommate</h2>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/user">My Profile</a></li>
					<li><a href="/settings">Settings</a></li>
					<!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
				</ul>
			</nav>
		</div>
	</header>

	<div class="user_body">
		{{#each user}}
		<ul>
			<li><img class="picPerson" src={{imgurl}}></li>
			<li>{{name}}</li>
			<li>{{userstate}}</li>
			<div class="preference_deets">
				<li>Preferences
					<p>
						<ul class="apt_details">
							<li>Rent: {{rent}}</li>
							<li>Has own bathroom: {{ownBath}}</li>
							<li>Has Air Conditioning: {{AC}}</li>
							<li>Has Heating: {{heating}}</li>
							<li>Laundry Utilities: {{laundry}}</li>
							<li>Parking: {{parking}}</li>
							<li>Pets Allowed? {{pets}}</li>
							<li>Bus Accessibility: {{bus}}</li>
							<li>Gym: {{gym}}</li>
							<li>Pool: {{pool}}</li>
							<li>Notes: {{otherapartmentNotes}}</li>
						</ul>
					</p>

				</li>
				<li>Roommate Preferences
					<p>
						<ul class="rm_details">
							<li>Preferred time of day: {{timeofday}}</li>
							<li>Smoker tolerance: {{smokersetting}}</li>
							<li>Cleanliness: {{cleanliness}}</li>
							<li>Notes: {{otherroommateNotes}}</li>
						</ul>
					</p>
				</li>
			</div>
			<li>Description</li>
			<li>{{email}}</li>
		</ul>
		{{/each}}

	</div>


</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/accordian.js"></script>
{{!-- <script>
	showSlides(1);
</script> --}}


</html>