<html>

<head>
	<title>User</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta name="google-signin-scope" content="profile email">
	{{!-- <meta name="google-signin-client_id"
			content="519007915746-m0l845vmot8vj2lin1j167ifu5lslmcj.apps.googleusercontent.com"> --}}
	<meta name="google-signin-client_id"
		content="519007915746-9ujr3t866k76vt0kr2sk5uoi3q0v8d8a.apps.googleusercontent.com">

	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	{{!--
	<link href="/css/introHCI.css" rel="stylesheet"> --}}
	<script src="../js/back.js"></script>
</head>

<body>
	<header>
		{{!-- <div class="row">
            <button class="btn btn-link btn-lg" style="width:50%;" onclick="goBack()">Back</button>
            <button class="btn btn-link btn-lg" style="width:50%;" onclick="signOutTest()">Sign
                Out</button>
		</div> --}}
		<div class="nav-container">
			{{!-- <h2>FindARoommate</h2> --}}
			<nav>
				<ul>
					{{!-- <li><button class="btn btn-link btn-lg" style="width:50%;" onclick="goBack()"><img class="icon" src="images/icons/back.png"></img></button></li> --}}
					<li><a onclick="goBack()"><img class="icon" src="images/icons/back.png"></img></a></li>
					<li><a href="/user"><img class="icon" src="images/icons/user.png"></a></li>
					<li><a href="/index"><img class="icon" src="images/icons/home.png"></a></li>
					<li><a href="/settings"><img class="icon" src="images/icons/settings.png"></a></li>
					<li><a onclick="signOutTest()"><img class="icon" src="images/icons/signout.png"></img></button></li>
					<!-- PLACEHOLDER LINK FOR SETTINGS PAGE (change '#' to '/settings') -->
				</ul>
			</nav>

		</div>
	</header>


	<div class="user_body row">
		<div id="profile-search-btn" style="width:33%">
			<a href="/index" style=""><img class="icon" src="images/icons/search.png"></img></a>
		</div>
		<div id="profile-search-btn" style="width:33%">
			<a href="/createProfile"><img class="icon" src="images/icons/edit.png"></img></a>
		</div>
		<div id="profile-search-btn" style="width:33%">
			<a href="/saved"><img class="icon" src="images/icons/favourite.png"></img></a>
		</div>
	</div>


	</div>

	{{#if state}}
	<div class="img-header">

	</div>
	{{#each user}}

	<div class="user-details">
		<img class="picPerson" src={{imgurl}}>
		<h4 id="name_header">{{name}}</h4>
		<h5 id="state_header">{{userstate}}</h5>
		<p id="desc-header">Description: {{description}}</p>
		<p id="email-header">{{email}}</p>
	</div>
	<div class="preference_deets" id="prefs">
		<p id="prefs-head">Preferences</p>

		<div class="pref-grid-row">
			<p id="tag">Rent: {{rent}}</p>
		</div>
		<div class="pref-grid-row">
			<p id="tag">Has own bathroom: {{ownBath}}</p>
		</div>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Has Air Conditioning: {{AC}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Has Heating: {{heating}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Laundry Utilities: {{laundry}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Parking: {{parking}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Pets Allowed? {{pets}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Bus Accessibility: {{bus}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Gym: {{gym}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Pool: {{pool}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Notes: {{otherapartmentNotes}}</p>
	</div>
	<div class="preference-deets">
		<p id="prefs-head">Roommate Preferences</p>
		<div class="pref-grid-row">
			<p id="tag">Preferred time of day: {{timeofday}}</p>
		</div>
		<div class="pref-grid-row">
			<p id="tag">Smoker tolerance: {{smokersetting}}</p>
		</div>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Cleanliness: {{cleanliness}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Notes: {{otherroommateNotes}}</p>
	</div>
	</div>
	{{/each}}
	{{else}}

	{{#each user}}
	<div class="user-details">
		<img class="picPerson" src={{imgurl}}>
		<h4 id="name_header">{{name}}</h4>
		<h5 id="state_header">{{userstate}}</h5>
		<p id="desc-header">Description: {{description}}</p>
		<p id="email-header">{{email}}</p>
	</div>
	<div class="preference_deets" id="prefs">
		<p id="prefs-head">Preferences</p>

		<div class="pref-grid-row">
			<p id="tag">Rent: Between {{rent}}</p>
		</div>
		<div class="pref-grid-row">
			<p id="tag">Has own bathroom: {{ownBath}}</p>
		</div>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Has Air Conditioning: {{AC}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Has Heating: {{heating}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Laundry Utilities: {{laundry}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Parking: {{parking}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Pets Allowed? {{pets}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Bus Accessibility: {{bus}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Gym: {{gym}}</p>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Pool: {{pool}}</p>
	</div>
	{{!-- <div class="pref-grid-row">
		<p id="tag">Notes: {{otherapartmentNotes}}</p>
	</div> --}}
	<div class="preference-deets">
		<p id="prefs-head">Roommate Preferences</p>
		<div class="pref-grid-row">
			<p id="tag">Preferred time of day: {{timeofday}}</p>
		</div>
		<div class="pref-grid-row">
			<p id="tag">Smoker tolerance: {{smokersetting}}</p>
		</div>
	</div>
	<div class="pref-grid-row">
		<p id="tag">Cleanliness: {{cleanliness}}</p>
	</div>
	{{!-- <div class="pref-grid-row">
		<p id="tag">Notes: {{otherroommateNotes}}</p>
	</div> --}}

	</div>
	{{/each}}
	{{/if}}
</body>
{{!-- javascript --}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/accordian.js"></script>
<script src="../js/google.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>

	function signOutTest() {
		var auth2 = gapi.auth2.getAuthInstance();
		auth2.signOut().then(function () {
			console.log('User signed out.');
		});
		window.location.href = "/";
	}
</script>

</html>